:root {
  /* кольори */
  --colorTextPrimary: #626262;
  --colorTextСategories: #b4ad9e;
  --colorTextNav: #7d7d7d;
  --colorTextHover: #03a9f4;
  /* шрифти */
  --fontPrimary: "Playfair Display", serif;
  --fontSecont: "Ubuntu", serif;
}
body {
  font-family: var(--fontPrimary);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.35;
  color: var(--colorTextPrimary);
}
