:root {
  /* кольори */
  --colorTextPrimary: #626262;
  --colorTextСategories: #b4ad9e;
  --colorTextNav: #7d7d7d;
  --colorTextHover: #03a9f4;
  /* шрифти */
  --fontPrimary: "Playfair Display", serif;
  --fontSecont: "Ubuntu", serif;
}
body {
  font-family: var(--fontPrimary);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.35;
  color: var(--colorTextPrimary);
}
.container {
  max-width: 936px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 15px 0px 15px;
}
/* nav */
.nav-list {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  max-width: 555px;
  margin: 0 auto;
}
.header {
  padding-top: 70px;
}
.nav-link {
  color: var(--colorTextNav);
}
.nav-link:hover {
  color: var(--colorTextHover);
}
/* hero */
.gallery {
  padding-top: 90px;
  padding-bottom: 65px;
}
.gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gallery-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 95px;
  column-gap: 65px;
  row-gap: 130px;
}
.gallery-item {
  max-width: 420px;
}
.post-photo {
  margin-bottom: 60px;
}
.post-category {
  font-family: var(--fontSecont);
  color: var(--colorTextСategories);
  display: inline-block;
  margin-bottom: 30px;
}
.post-title {
  font-size: 30px;
  margin-bottom: 40px;
}
.gallery-button {
  border: 1px solid var(--colorTextPrimary);
  background-color: transparent;
  padding: 20px 50px;
}
.gallery-button:hover {
  opacity: 0.8;
  cursor: pointer;
}
